[user]
	name = David Viramontes
	email = dviramontes@gmail.com
[color]
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	co = checkout
	cm = commit
	s  = status
	b  = branch
	type = cat-file -t
	dump = cat-file -p
	up = push origin HEAD
	bcd = branch --sort=-committerdate
	bca = branch --sort=committerdate
	cp = cherry-pick
	yolo = !git commit -m \"$(curl -s https://whatthecommit.com/index.txt)\"
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
