[user]
	name = David Viramontes
	email = diramontes@gmail.com
[color]
	ui = true
[core]
	editor = vim
	excludesfile = /Users/dv/.gitignore
[alias]
	co = checkout
	cm = commit
	s  = status
	b  = branch
	type = cat-file -t
	dump = cat-file -p
	up = push origin HEAD

[init]
	defaultBranch = main
