[user]
	name = dviramontes
	email = diramontes@gmail.com
[color]
	ui = true
[core]
	editor = vim
	excludesfile = /Users/dv/.gitignore
[alias]
	co = checkout
	cm = commit
	s  = status
	b  = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	up = push origin HEAD

[init]
	defaultBranch = main
